
.footer li:hover{
    cursor: pointer;
}
@media (max-width: 768px) {
    .footer{
        font-size: 15px;
    }
    .footer img{
        width: 80px;
        height: 40px
    }
    .footer-items > .social-link > i{
        font-size: 18px;
    }
    .footer-copyright{
        font-size: 12px;
    }
    .useful-links{
        display: none;
    }
}


